<center>
 <h1>Welcome To Sprint-Management Software
 </h1>
 <h4>
  Developed By:
 </h4>
 <p>
  Abdul Khalid<br/>
  Mopuri Sai Sandeep<br/>
  Rahul Sahu<br/>
  Richa Jain<br/>
 </p>
<br/>
<%= button_to('Sign Up', new_user_registration_path, :class => 'btn btn-large btn-primary')  %>
<br/>
<%= button_to('Sign in', new_user_session_path, :class => 'btn btn-large btn-primary')  %>
<br/>
<%= button_to('Sign in with Google', user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-large btn-primary')  %>

</cente>

